
#bookNowid {
    width: 100%;
    top: 15%;
    left: 35%;
    position: absolute;
    background-color: black;
    height: auto;
}
table, tr, td {
    border: 1px solid black;
    
}
.headinforbooknow {
   color : white;
}
Select {
    width: 50px;
    height: 10px;
}
input {
    border-radius: 10px;
    padding-left:10px;
    border: 1px solid black;
}

h1{
    font-family: Simplifica;
    color: #002B5B;
    margin-left:180px;

}

input:focus, Select:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}

#book {
    margin-top: 20px;
    width: 150%;
    height: 30px;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    background-color: wheat;
    border: 0px solid wheat;
}

    #book:hover {
        background-color: wheat;
        border-color: wheat;
        box-shadow: 0 0 15px wheat;
    }

.error {
    color: red;
    font-size:x-small;
}
