
#signinId {
    width: 100%;
    top: 15%;
    left: 35%;
    position: absolute;
    background-color: black;
    height: auto;
}
table, tr, td {
    border: none;
}
.headinforsignin {
    color: red;
}
footer {
    margin-top: 400px;
    margin-left: 5px;
    margin-right: 5px;
    height: 200px;
}

input {
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
    border: 1px solid black;
}

h1 .signin {
    font-family: Simplifica;
    color: White;
    margin-left: 180px;
}

input:focus, Select:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}

button {
    margin-top: 20px;
    margin-left:60px;
    width: 30%;
    height: 30px;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: 0px solid #002B5B;
}

    button:hover {
        background-color: black;
        border-color: black;
        box-shadow: 0 0 10px #719ECE;
    }
    .error
    {
        color:red;
    }
.logoDiv img {
    top: 592.90%;
    left: 0.3%;
    height: 195px;
    width: 30%;
    position: absolute;
}

#copyright {
    color: white;
    top: 613%;
    right: 80%;
    position: absolute;
}
