#signupdiv {
    width: 100%;
    top: 15%;
    left: 35%;
    position: absolute;
    background-color: black;
    height: auto;
}

h1, p {
    font-family: Simplifica;
    color: #000000;
}
table, tr, td {
    border: 1px solid black;
    border: none;
}

input {
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
    border: 1px solid black;
}

    input:focus {
        outline: none !important;
        border: 1px solid red;
        box-shadow: 0 0 10px red;
    }
td .headingforsignupdiv {
    color: white;
}

button {
    margin-top: 20px;
    margin-left: 60px;
    width: 30%;
    height: 30px;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    background-color: wheat;
    border: 0px solid wheat;
}

    button:hover {
        background-color: wheat;
        border-color: wheat;
        box-shadow: 0 0 15px wheat;
    }
    .error
    {
        color:red;
    }
footer {
    margin-top: 400px;
    margin-left: 5px;
    margin-right: 5px;
    height: 200px;
}

.logoDiv img {
    top: 592.90%;
    left: 0.3%;
    height: 195px;
    width: 30%;
    position: absolute;
}

#copyright {
    color: white;
    top: 613%;
    right: 80%;
    position: absolute;
}
